@keyframes dropCell {
  from {
    transform: translate(
      calc(
        var(--gb-padding) + var(--x) *
          (var(--gb-cell-width) + var(--gb-gap))
      ),
      var(--gb-padding)
    );
  }
  to {
    transform: translate(
      calc(
        var(--gb-padding) + var(--x) *
          (var(--gb-cell-width) + var(--gb-gap))
      ),
      calc(
        var(--gb-padding) + var(--y) *
          (var(--gb-cell-width) + var(--gb-gap))
      )
    );
  }
}

@keyframes oscilate {
  0% {
    translate: 0% 0%;
  }

  50% {
    translate: 0% 15%;
  }

  100% {
    translate: 0% 0%;
  }
}

@keyframes oscilateSlow {
  0% {
    translate: 0% 0%;
  }

  50% {
    translate: 0% 7.5%;
  }

  100% {
    translate: 0% 0%;
  }
}

@keyframes shrink {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes rotateSmall {
  0% {
    rotate: 0deg;
  }
  25% {
    rotate: 10deg;
  }
  50% {
    rotate: 0deg;
  }
  75% {
    rotate: -10deg;
  }
  100% {
    rotate: 0deg;
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.iconAnimate {
  animation: rotateSmall 1s infinite linear,
    oscilateSlow 2s infinite;
}

.oscilates {
  animation: oscilate 1s infinite;
}

.oscilatesSlow {
  animation: oscilateSlow 2s infinite ease-in-out;
}

.appear {
  animation: appear 0.35s;
}

.disappear {
  animation: disappear 0.35s;
}
