@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin max-width($size) {
  @if $size == desktop {
    @media (max-width: 1100px) {
      @content;
    }
  }

  @if $size == tablet {
    @media (max-width: 728px) {
      @content;
    }
  }

  @if $size == small-tablet {
    @media (max-width: 630px) {
      @content;
    }
  }

  @if $size == phone {
    @media (max-width: 500px) {
      @content;
    }
  }
}
