:root {
  --clr-black: #000000;
  --clr-dark-purple: #5c2dd5;
  --clr-purple: #7945ff;
  --clr-red: #fd6687;
  --clr-yellow: #ffce67;
  --clr-white: #ffffff;

  --fs-small: 1rem;
  --fs-medium: 1.25rem;
  --fs-large: 3.5rem;

  --fw-medium: 500;
  --fw-bold: 700;
}
