//prettier-ignore
:root {
  --clr-black: #000000;
  --clr-very-dark-purple: #3c1995;
  --clr-dark-purple: #5c2dd5;
  --clr-purple: #7945ff;
  --clr-red: #fd6687;
  --clr-yellow: #ffce67;
  --clr-white: #ffffff;

  --fs-small: clamp(.8rem, 2vw, 1rem);
  --fs-medium: clamp(1rem, 3vw, 1.25rem);
  --fs-semi-large: clamp(1.25rem, 4vw, 1.5rem);
  --fs-large: clamp(2rem, 8vw, 3.5rem);
  --fs-very-large: clamp(2.5rem, 10vw, 3.5rem);

  --fw-medium: 500;
  --fw-bold: 700;

  // GameBoard (gb)
  --gb-width: 40rem;
  --gb-padding: calc(var(--gb-width) / 40);
  --gb-gap: calc(var(--gb-width) / 40);
  --gb-cell-width: calc(
    (var(--gb-width) - var(--gb-padding) * 2 - var(--gb-gap) * 6) / 7
  );

  @include max-width(tablet) {
    --gb-width: max(20rem, 85vw);
  }
}
