.cell {
  --x: 6;
  --y: 5;

  --fall-time: 1s;

  position: absolute;
  z-index: 1;

  // transition: transform var(--fall-time)
  //   cubic-bezier(0.42, 0, 1, 1);

  animation: dropCell var(--fall-time)
    cubic-bezier(0.42, 0, 1, 1);

  transition: 0.25s;

  transform: translate(
    calc(
      var(--gb-padding) + var(--x) *
        (var(--gb-cell-width) + var(--gb-gap))
    ),
    calc(
      var(--gb-padding) + var(--y) *
        (var(--gb-cell-width) + var(--gb-gap))
    )
  );

  @include max-width(phone) {
    margin-left: -0.5px;
  }

  width: var(--gb-cell-width);
  aspect-ratio: 1;

  border-radius: 100%;

  & > img {
    width: 100%;
  }
}

// HIDDEN CLICKABLE CELLS
.cell__hidden {
  width: calc(var(--gb-cell-width) * 1.15);
  height: calc(var(--gb-cell-width) * 1.2);
  // aspect-ratio: 8.5/10;
  background-color: transparent;
  opacity: 0.5;
  // border-radius: 100%;
  color: red;

  cursor: pointer;
}

.cell__win {
  &::after {
    animation: appear 0.25s, flash 1s infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -58%);
    border-radius: 100%;

    border: calc(var(--gb-cell-width) * 0.15) solid
      var(--clr-white);

    content: "";
    width: calc(var(--gb-cell-width) * 0.4);
    aspect-ratio: 1;
    background: transparent;

    @include max-width(small-tablet) {
      transform: translate(-50%, -60%);
    }

    @include max-width(phone) {
      transform: translate(-50%, -65%);
    }
  }
}
