.board {
  position: relative;

  // Board sizing
  &__black {
    // CHANGE WITH CLAMP LATER
    width: var(--gb-width);
  }

  &__white {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    z-index: 2;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    // background-color: rgba(255, 0, 0, 0.518);
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;

    // background-color: lightblue;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: var(--gb-gap);
    row-gap: calc(var(--gb-gap) * 1.5);

    padding: var(--gb-padding) var(--gb-padding);
    z-index: 3;
  }
}

.current__player {
  position: absolute;
  z-index: 4;

  width: 15rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -10%);

  @include flex-center;
  flex-direction: column;

  & > img {
    position: absolute;
    width: 100%;
  }

  & > p {
    position: relative;
    z-index: 1;
    font-size: var(--fs-medium);
    font-weight: var(--fw-bold);
    color: var(--clr-white);

    margin-top: 1rem;
  }

  & > h2 {
    position: relative;
    z-index: 1;
    font-size: var(--fs-very-large);
    font-weight: var(--fw-bold);
    color: var(--clr-white);
  }

  @include max-width(tablet) {
    width: 40%;
    bottom: -20%;
  }

  @include max-width(small-tablet) {
    width: 50%;
    bottom: -30%;
  }
}
