.player {
  &__score {
    position: relative;

    background-color: var(--clr-white);

    padding: 2.5rem 1.8rem 1.25rem 1.8rem;
    border-radius: 1.5rem;

    border: 0.2rem solid black;
    box-shadow: 0 0.6rem 0 0rem black;

    @include flex-center;
    flex-direction: column;

    transform: translateY(-1.5rem);

    p {
      font-size: var(--fs-medium);
      font-weight: var(--fw-bold);
    }

    h2 {
      font-size: var(--fs-large);
      font-weight: var(--fw-bold);
    }
  }

  &__icon {
    position: absolute;
    top: -2rem;
  }
}
