.background {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  height: 100%;
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 15rem;

  position: relative;
}

.drop-indicator {
  --x: 0;

  transition: 0.1s;

  position: absolute;
  top: -2.5rem;
  width: 5%;

  transform: translateX(
    calc(
      var(--gb-padding) * 2.2 + var(--x) *
        (var(--gb-cell-width) + var(--gb-gap))
    )
  );
}

.hidden {
  visibility: hidden;
}
